<!DOCTYPE html>
<html>
  <head>
    <title>Autocomplete</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <h1>Shakespeare Autocomplete</h1>

    <form action="/search", method="get">
    <input type="text" name="search">
    <input type="submit" value="Submit">

  </body>
</html>
